@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --corBotao: #264653;
    --corBorda: #e9c46a;
    --corFundo: #2a9d8f;
    --corFonte: #EEEEEE;
}

body {
    background-color: var(--corFundo);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--corFonte);
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 75px;
    padding: 70px;
}

#main__entrada {
    padding: 2px 68px;
    align-items: center;
    outline: 0;
    justify-content: center;
}

#main__entrada__texto::placeholder {
    color: black;
    font-size: 24px;
}

#main__entrada__texto {
    outline: none;
    border: none;
    padding: 250px ;
    background-color: transparent;
    color: black;
    resize: none;
}


p {
    font-family: "Roboto", sans-serif;
    align-items: center;
    font-size: 12px;
    padding: 16px;
    gap: 16px;
}

#main__entrada__botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

#main__entrada__botoes__criptografar {
    font-size: 16px;
    padding: 24px;
    width: 280px;
    border-radius: 24px;
    border: none;
    color: var(--corFonte);
    background-color: var(--corBotao);
    border-color: var(--corBotao);
}

#main__entrada__botoes__descriptografar {
    font-size: 16px;
    padding: 24px;
    width: 280px;
    border-radius: 24px;
    background-color: var(--corFundo);
    border: solid;
    border-color: var(--corBorda);
    border-width: 2px;
    color: var(--corFonte);
}

#main__entrada__botoes__criptografar:hover {
    transition: 0.5s;
    transform: scale(1.1);
    opacity: 80%;
}

#main__entrada__botoes__descriptografar:hover {
    transition: 0.5s;
    transform: scale(1.1);
    opacity: 80%;
}



#main__saida {
    background-color: white;
    border-radius: 32px;
    text-align: center;


}

#main__saida__tela {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main__saida__container {
    display: block;
    padding: 150px 0px;
}

#main__saida__texto  {
    padding: 250px 90px;
    border-radius: 32px;
    resize: none;
    background-color: white;
    border: none;
    outline: none;
    color: black;
    background-color: white;
    align-items: center;
    display: none;
}

#main__saida__copiar {
    width: 280px;
    height: 50px;
    border-radius: 24px;
    border: solid;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    border-color: var(--corBorda);
    background-color: var(--corBotao);
    border-width: 2px;
    display:  none;
}

#main__saida__imagem {
    height: 240px;
}

h1 {
    color: black;
}

#main__saida__paragrafo {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 14px;


}

#rodape {
    color: var(--corFonte);
    background-color: var(--corBotao);
    font-size: 1.5rem;
    text-align: center;
    padding: 9px;
}